html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,[type='button'],[type='reset'],[type='submit']{-webkit-appearance:button}button::-moz-focus-inner,[type='button']::-moz-focus-inner,[type='reset']::-moz-focus-inner,[type='submit']::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type='button']:-moz-focusring,[type='reset']:-moz-focusring,[type='submit']:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type='checkbox'],[type='radio']{box-sizing:border-box;padding:0}[type='number']::-webkit-inner-spin-button,[type='number']::-webkit-outer-spin-button{height:auto}[type='search']{-webkit-appearance:textfield;outline-offset:-2px}[type='search']::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* Color Palette
#201E21 Dark
#0178A5 Ocean blue 
#A7059B Barney purple 
#FFE9E9 Very light pink 
#F7DAE8 Light pink  */

/**********************/
/*<< general styles >>*/
/**********************/
/*Set initial font to 62.5% (10px)*/
html {
    font-size: 62.5%;
}

img {
    display:block;
    width:100%;
    height:auto;
}

.wrapper {
    width: 80%;
    max-width: 1300px;
    margin: 0 auto;
}

span.nobreak {
    white-space: nowrap;
}

/* stripping styles */
ul {
    list-style:none;
}

a {
    text-decoration:none;
    display:block;
}

button,
input {
    border: none;
}

a,
body,
h1,
h2,
h3,
li,
nav,
p,
ul {
    margin:0;
    padding:0;
}

i.fa-bars {
    display:none;
}

/******************/
/*<< typography >>*/
/******************/
body {
    font-size: 2rem;
    line-height: 29px;
    letter-spacing: 0.2px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color:#FFE9E9;
    color:black;
}

a,
button {
    font-size: 4.5rem;
    line-height: 2.9rem;
    letter-spacing: normal;
    font-family: 'East Sea Dokdo', cursive;
    font-weight: 400;
    color:white;
}

.new-products a:hover,
.new-products a:focus,
.article-info a:hover,
.article-info a:focus {
    box-shadow:5px 5px 3px #201E21;
}

button[type=submit]:hover,
button[type=submit]:focus {
    background-color: #201E21;
}

nav a {
    font-size: 2rem;
    line-height: 2.9rem;
    letter-spacing: 0.2px;
    font-family: 'Roboto', cursive;
    font-weight:500;
    color:black;
}

nav a:hover,
nav a:focus,
h3 a:hover,
h3 a:focus {
    background-image: linear-gradient(to right,#0178A5,#A7059B);
    background-position:50% 95%;
    background-size: 70% 3px;
    background-repeat:no-repeat;
}

h1 {
    font-size:12.2rem;
    line-height: 94.3px;
    letter-spacing: normal;
    font-family: 'East Sea Dokdo', cursive;
    font-weight: 400;
    text-align: left;
}

h2 {
    font-size: 7.5rem;
    line-height: 36px;
    letter-spacing: normal;
    font-family: 'East Sea Dokdo', cursive;
    font-weight: 400;
}

h3,
h3 a {
    font-size: 5.5rem;
    line-height: 3.6rem;
    letter-spacing: normal;
    font-family: 'East Sea Dokdo', cursive;
    font-weight: 400;
    color:black;
}

i.fa-bars {
    font-size: 3.5rem;
    color:white;
}

i.fa-bars:hover,
i.fa-bars:focus {
    cursor:pointer;
    transform:scale(1.2);
}

i.far {
    font-size: 7rem;
    color:#0178A5;
}
/* ******************************************************************************* */
/**************/
/*<< header >>*/
/**************/
header {
    height:100vh;
    background-image:url(../assets/group-4@2x.png);
    background-size:cover;
    padding-top:25px;
}

header .wrapper {
    position:relative;
    height:calc(100vh - 50px);
}

header nav li {
    float:left;
    margin-right:50px;
}

nav a {
    padding: 2.5px 10px;
}

h1 {
    position: absolute;
    left:0;
    top:50%;
    transform:translateY(calc(-50% + 17px));
}
/* ******************************************************************************** */
/********************/
/*<< new-products >>*/
/********************/
section.new-products {
    padding:100px 0;
}

.new-products-content {
    position:relative; 
}

.new-products-content img {
    float:left;
    width:340px;
    margin-right:40px;
}

.new-products-content article {
    float:left;
    width: calc(100% - 380px);
}

.new-products-content h2 {
    position:absolute;
    top:-5px;
}

.new-products-content p {
    margin-top: 50px;
    margin-bottom:49px;
}

.new-products-content a {
    display:inline-block;
    background-color: #0178A5;
    padding: 10px 20px;
    position:absolute;
    bottom:0;
}

/*******************/
/*<< exhibitions >>*/
/*******************/
/*<< latest-exhibitions >>*/
.latest-exhibitions {
    background-color: #F7DAE8;
    padding:120px;
}

.latest-exhibitions h2 {
    text-align: center;
    margin-bottom:80px;
}

.gallery li {
    float: left;
    margin-right:40px;
    width:calc((100% - 80px) / 3);
}

.gallery li:last-child {
    margin-right:0;
}

/*<< icon-links >>*/
.icon-links {
    padding: 80px 0;
}
ul.exhibition-icons > li {
    float:left;
    width:calc(100%/3);
    text-align: center;
}
ul.exhibition-icons h3 {
    margin-top: 10px;
}

ul.exhibition-icons a {
    display:inline-block;
    padding:10px 20px;
}

/****************/
/*<< articles >>*/
/****************/
.articles article {
    background-color:#F7DAE8;
}

.article-image-right {
    width:50%;
    float:right;
}

.articles .wrapper {
    position:relative;
}

.article-info {
    width:550px;
    position:absolute;
    top:50%;
    transform: translateY(-50%);
}

.article-info h2 {
    line-height:56px;
}

.article-info p {
    margin-top:10px;
}

.article-info a {
    display: inline-block;
    background-color: #A7059B;
    padding: 10px 20px;
    margin-top:30px;
}

.article-image-left {
    width:50%;
    float:left;
}

.paints .article-info {
    margin-left:10%;
    float:right;
    right:0;
}

/********************/
/*<< stay-updated >>*/
/********************/
.stay-updated {
    padding: 50px 0;
}

.stay-updated .wrapper {
    position:relative;
}

.stay-updated h2 {
    text-align: center;
    margin-bottom:20px;
}

.stay-updated nav {
    float:left;
    width:23%;
}    

.stay-updated nav a {
    display:inline-block;
}

.subscribe-form {
    text-align: center;
    width:54%;
    position:absolute;
    bottom:0;
    left:23%;
}

.subscribe-form > * {
    display:block;
}

.subscribe-form label {
    margin-bottom:10px;
}

.user-input input {
    height:49px;
    width:calc(100% - 165.767px);
    padding:10px 20px;
    float:left;
}

.user-input button {
    background:#0178A5;
    padding: 10px 20px;
    float:left;
}

button:hover {
    cursor:pointer;
}

.contact {
    width:23%;
    text-align: right;
    position:absolute;
    bottom:0;
    right:0;
}

.contact h3 {
    margin-bottom: 20px;
}

/**************/
/*<< footer >>*/
/**************/
footer {
    background-color: #201E21;
    color:#fff;
    text-align: center;
    clear:both;
}

/******************/
/*<< key frames >>*/
/******************/

/*********************/
/*<< media queries >>*/
/*********************/
/*<< variable growth for DESKTOP up to max wrapper(1300px) >>*/
@media(max-width:1625px){
    /* Up to 1625px typography */
    body {
        font-size: calc(1.8rem + (100vw - 941px)*((20 - 18)/(1625 - 941)));
        line-height: calc(25px + (100vw - 941px)*((29 - 25)/(1625 - 941)));
    } 
    h2 {
    font-size: calc(5.1rem + (100vw - 941px)*((75 - 51)/(1625 - 941)));
    }
    h3,
    h3 a {
    font-size: calc(4rem + (100vw - 941px)*((55 - 40)/(1625 - 941)));
    }
    i.far {
    font-size: calc(5rem + (100vw - 941px)*((70 - 50)/(1625 - 941)));
    }
    /* Up to 1625px new-products */
    section.new-products {
    padding:calc(75px + (100vw - 941px)*((100 - 75)/(1625 - 941))) 0;
    }
    .new-products-content img {
    width:calc(300px + (100vw - 941px)*((340 - 300)/(1625 - 941)));
    margin-right:calc(20px + (100vw - 941px)*((40 - 20)/(1625 - 941)));
    }
    .new-products-content article {
    width: calc(100% - calc(320px + (100vw - 941px)*((380 - 320)/(1625 - 941))));
    }
    .new-products-content h2 {
    top: calc(-8px + (100vw - 941px)*((-4 - -8)/(1625 - 941)));
    }
    .new-products-content p {
        margin-top: calc(35px + (100vw - 941px)*((50 - 35)/(1625 - 941)));
    }
    /* Up to 1625px latest-exhibitions */
    .latest-exhibitions {
    padding:calc(60px + (100vw - 941px)*((120 - 60)/(1625 - 941))) 0;
    }
    .latest-exhibitions h2 {
    margin-bottom:calc(40px + (100vw - 941px)*((80 - 40)/(1625 - 941)));
    }
    /* Up to 1625px articles */
    .article-info {
    width:calc(338px + (100vw - 941px)*((550 - 338)/(1625 - 941)));
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    } 
    .article-info h2 {
    line-height:calc(34px + (100vw - 941px)*((56 - 34)/(1625 - 941)));
    }
    .article-info p {
    margin-top:calc(3px + (100vw - 941px)*((10 - 3)/(1625 - 941)));
    } 
    .article-info a {
    margin-top:calc(0px + (100vw - 941px)*((30 - 0)/(1625 - 941)));
    }   
    /* Up to 1625px stay-updated */
    .contact h3 {
    margin-bottom: calc(0px + (100vw - 941px)*((20 - 0)/(1625 - 941)));
    }
}

/*<< PORTRAIT TABLET - SMALL DESKTOPS >>*/
@media(max-width:940px){
    /* Up to 940px general */
    .wrapper {
        width:90%;
    }
    /* Up to 940px typography */
    body {
        font-size: calc(1.6rem + (100vw - 769px)*((18 - 16)/(940 - 769)));
        line-height:25px;
    }
    h2 {
        font-size: 5.1rem;
    }
    h3,
    h3 a {
    font-size: 4rem;;
    }
    i.far {
    font-size: 5rem;
    }
    /* Up to 940px header */
    header {
    height:80vh;
    background-position:25%;
    }
    header .wrapper {
    height:calc(80vh - 50px);
    }
    /* Up to 940px new-products */
    .new-products h2 {
        letter-spacing:calc(-1.6px + (100vw - 769px)*((1 - -1.6)/(940 - 769)));
    }
    /* Up to 940px latest-exhibitions */
    .latest-exhibitions {
    padding:60px 0;
    }
    .latest-exhibitions h2 {
    margin-bottom:40px;
    }
    .gallery li {
    margin-right: 20px;
    width:calc((100% - 40px)/3);
    }
    /* Up to 940px icon-links */
    .icon-links {
    padding: calc(60px + (100vw - 769px)*((80 - 60)/(940 - 769))) 0;
    }
    /* Up to 940px articles */
    .article-info {
    width:calc(330px + (100vw - 769px)*((338 - 330)/(940 - 769)));
    } 
    .article-info h2 {
    line-height:34px;
    letter-spacing:-1.6px;
    font-size: calc(4.8rem + (100vw - 769px)*((49 - 48)/(940 - 769)));
    }
    .article-info p {
    margin-top:3px;
    padding-bottom: calc(50px - (100vw - 769px)*((50 - 40)/(940 - 769)));
    } 
    .article-info a {
    margin-top:0;
    position:absolute;
    bottom:0;
    right:0;
    } 
    /* Up to 940px stay-tuned */
    .contact h3 {
    margin-bottom: 0;
    }
    .stay-updated nav,
    .stay-updated .contact {
        width:155px
    }
    .subscribe-form {
        width:calc(100% - 155px - 155px);
        left:155px;
    }
    .stay-updated {
    padding: calc(40px + (100vw - 769px)*((50 - 40)/(940 - 769))) 0;
    }
}

/*<< LANDSCAPE PHONE - PORTRAIT TABLET >>*/
@media(max-width:768px){
    /* Up to 768px typography */
    body {
        font-size:1.6rem;
    }
    h2 {
    font-size: 7.5rem;
    }
    h3,
    h3 a {
    font-size: 5.5rem;
    }
    /* Up to 768px header */
    header {
    height:75vh;
    padding-top:0;
    background-position:42%;
    }
    header .wrapper {
    height:75vh;
    }
    header .fa-bars {
        display: initial;
        position:absolute;
        right:0;
        top:15px;
    }
    header nav {
        display:none;
    }
    h1 {
    line-height:65px;
    transform:translateY(-50%);
    }
    /* Up to 768px new-products */
    section.new-products {
        padding: calc(40px + (100vw - 481px)*((68 - 40)/(768 - 481))) 0;
    }
    .new-product-image {
        width: 90vw;
        height: 60vw;
        max-height:600px;
        overflow:hidden;
    }

    .new-products-content img {
        width:100%;
        float:none;
        margin-right:0;
        position:relative;
        bottom:33%;
    }
    .new-products-content article {
        float:none;
        width: 100%;
    }
    .new-products-content h2 {
        letter-spacing:normal;
        line-height: 58px;
        position:static;
        margin:40px 0;
    }
    .new-products-content p {
        margin-top:0;
        margin-bottom:40px
    }
    .new-products-content a {
        display:inline-block;
        position:static;
        transform: translateX(-50%);
        margin-left:50%;
        margin-bottom: 80px;
        
    }
    /* Up to 768px latest-exhibitions */
    .gallery li {
        width: calc((100% - 20px)/2);
    }
    .gallery li:nth-last-child(2) {
        margin-right:0;
    }
    .gallery li:last-child {
        display:none;
    }
    /* Up to 768px icon-links */
    .icon-links {
        padding:25px 0;
    }
    ul.exhibition-icons > li {
        float:none;
        width:100%;
        margin:30px 0;
    }
    ul.exhibition-icons .far {
        font-size: 7rem;
    }
    /* Up to 768px articles */
    .article-image-right {
        float:none;
        width:100%;
    }
    .article-info {
        position:static;
        transform:none;
        width: 100%;
        text-align: center;
        padding: 40px 0;
    }
    .article-info h2{
        font-size: 7.5rem;
        line-height: 60px;
        letter-spacing:normal;
    }
    .article-info p {
        margin:20px 0;
        padding:0;
    }
    .article-info a {
        position:static;
    }
    .article-image-left {
        float:none;
        width:100%;
    }
    /* Up to 768px stay-tuned */
    .stay-updated {
        padding: 40px 0;
        position:relative;
    }
    .stay-updated .wrapper {
        position:initial;
    }
    .stay-updated h2 {
        margin-top:calc(40px + 34px);
        margin-bottom:30px;
    }
    .stay-updated nav {
        float:none;
        width:calc(90% + 20px);
        position:absolute;
        top:40px;
        left:calc(5% - 10px);
    }
    .stay-updated nav li {
        float:left;
        margin-right:calc((100% - 74.5333px - 61.2333px - 83.7px - 91.5333px)/3);
        
    }
    .stay-updated nav li:last-child {
        margin-right:0;
    }
    .stay-updated form {
        position:static;
        width:100%;
    }
    .subscribe-form label {
        margin:0;
    }
    .user-input input {
        float:none;
        width: 85%;
        text-align: center;
        margin:20px 0;

    }
    .user-input button {
        float:none;
        width: initial;
        margin-bottom:40px;

    }
    .stay-updated .contact {
        position:static;
        width: 100%;
        text-align: center;
    }
    .contact h3 {
        margin-bottom: 10px;
    }
}

/*<< PORTRAIT PHONES - SOME LANDSCAPE PHONES >>*/
@media(max-width:480px){
    /* Up to 480px typography */
    h1 {
        font-size: calc(10rem + (100vw - 320px)*((122 - 100)/(480 - 320)));
        width: 240px;
        line-height: calc(55px + (100vw - 320px)*((65 - 55)/(480 - 320)));
    }
    h2 {
        font-size: calc(6rem + (100vw - 320px)*((75 - 60)/(480 - 320)));
        
    }
    /* Up to 480px header */
    header {
        background-position:42%;
    }
    /* Up to 480px new-products */
    .new-products-content article {
        position:relative;
    }
    .new-products-content h2 {
        line-height: calc(46px + (100vw - 320px)*((58 - 46)/(480 - 320)));
        margin: 30px 0 20px 0;
    }
    .new-products-content p {
        margin-bottom:30px;
    }
    .new-products-content a {
        margin-bottom:40px;
        margin-left:calc((100% - 172.267px)/2);
        transform:none;
    }
    /* Up to 480px latest-exhibitions */
    .latest-exhibitions h2 {
        font-size: calc(5.2rem + (100vw - 320px)*((75 - 52)/(480 - 320)));
    }
    .gallery li {
        width: calc((100% - 10px)/2);
        margin-right:10px;
    }
    /* Up to 480px icon-links */
    /* Up to 480px articles */
    .article-info h2 {
        font-size:calc(7.1rem + (100vw - 320px)*((75 - 71)/(480 - 320)));
    }
    /* Up to 480px stay-tuned */
    .user-input input {
        width:100%;
    }
}