html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,[type='button'],[type='reset'],[type='submit']{-webkit-appearance:button}button::-moz-focus-inner,[type='button']::-moz-focus-inner,[type='reset']::-moz-focus-inner,[type='submit']::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type='button']:-moz-focusring,[type='reset']:-moz-focusring,[type='submit']:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type='checkbox'],[type='radio']{box-sizing:border-box;padding:0}[type='number']::-webkit-inner-spin-button,[type='number']::-webkit-outer-spin-button{height:auto}[type='search']{-webkit-appearance:textfield;outline-offset:-2px}[type='search']::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* Color Palette
#201E21 Dark
#0178A5 Ocean blue 
#A7059B Barney purple 
#FFE9E9 Very light pink 
#F7DAE8 Light pink  */

/**********************/
/*<< general styles >>*/
/**********************/

/*Set initial font to 62.5% (10px)*/
html {
    font-size: 62.5%;
}

img {
    display:block;
    width:100%;
    height:auto;
}

.wrapper {
    width: 80%;
    max-width: 1275px;
    margin: 0 auto;
}

/* stripping styles */
ul {
    list-style:none;
}

a {
    text-decoration:none;
    display:block;
}

button,
input {
    border: none;
}

a,
body,
h1,
h2,
h3,
li,
nav,
p,
ul {
    margin:0;
    padding:0;
}

/******************/
/*<< typography >>*/
/******************/

body {
    font-size:2rem;
    line-height: 2.9rem;
    letter-spacing: 0.2px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color:#FFE9E9;
    color:black;
}

a,
button {
    font-size: 4.5rem;
    line-height: 2.9rem;
    letter-spacing: normal;
    font-family: 'East Sea Dokdo', cursive;
    font-weight: 400;
    color:white;
}

nav a {
    font-size: 2rem;
    line-height: 2.9rem;
    letter-spacing: 0.2px;
    font-family: 'Roboto', cursive;
    font-weight:500;
    color:black;

}

h1 {
    font-size:12.2rem;
    line-height: 9.43rem;
    letter-spacing: normal;
    font-family: 'East Sea Dokdo', cursive;
    font-weight: 400;
    text-align: left;
}

h2 {
    font-size: 7.5rem;
    line-height: 3.6rem;
    letter-spacing: normal;
    font-family: 'East Sea Dokdo', cursive;
    font-weight: 400;
}

h3,
h3 a {
    font-size: 5.5rem;
    line-height: 3.6rem;
    letter-spacing: normal;
    font-family: 'East Sea Dokdo', cursive;
    font-weight: 400;
    /* text-align: center; */
    color:black;
}

i.far {
    font-size: 7rem;
    color:#0178A5;
}


/**************/
/*<< header >>*/
/**************/
header {
    height:100vh;
    background-image:url(../assets/group-4@2x.png);
    background-size:cover;
    padding-top:25px;
}

header nav li {
    float:left;
    margin-right:50px;
}

nav a {
    padding: 2.5px 10px;
}

h1 {
    margin-top: calc((100vh - 25px - 39px - 94.3px)/2);
}

/********************/
/*<< new-products >>*/
/********************/
section.new-products {
    padding:100px 0;
}

.new-products-content {
    position:relative; 
}

.new-products-content img {
    float:left;
    width:25%;
    margin-right:40px
}

.new-products-content article {
    float:left;
    width: calc(75% - 40px);
}

.new-products-content h2 {
    position:absolute;
    top:-5px;
}

.new-products-content p {
    margin: 50px 0 40px 0 ;
}

.new-products-content a {
    display:inline-block;
    background-color: #0178A5;
    padding: 10px 20px;
    position:absolute;
    bottom:0;
}

/*******************/
/*<< exhibitions >>*/
/*******************/
/*<< latest-exhibitions >>*/
.latest-exhibitions {
    background-color: #F7DAE8;
    padding:120px 0;
}

.latest-exhibitions h2 {
    text-align: center;
    margin-bottom:80px;
}

.gallery li {
    float: left;
    margin-right:40px;
    width:calc((100% - 80px) / 3);
}

.gallery li:last-child {
    margin-right:0;
}

/*<< icon-links >>*/
.icon-links {
    padding: 80px 0;
}
ul.exhibition-icons > li {
    float:left;
    width:calc(100%/3);
    text-align: center;
}
ul.exhibition-icons h3 {
    margin-top: 10px;
}

ul.exhibition-icons a {
    display:inline-block;
    padding:10px 20px;
}

/****************/
/*<< articles >>*/
/****************/
.articles article {
    background-color:#F7DAE8;
}

.article-image-right {
    width:50%;
    float:right;
}

.articles .wrapper {
    position:relative;
}

.article-info {
    width:40%;
    position:absolute;
    top:50%;
    transform: translateY(-50%);
}

.article-info h2 {
    line-height:0.75;
}

.article-info p {
    margin-top:10px;
}

.article-info a {
    display: inline-block;
    background-color: #A7059B;
    padding: 10px 20px;
    margin-top:30px;
}

.article-image-left {
    width:50%;
    float:left;
}

.paints .article-info {
    margin-left:10%;
    float:right;
    right:0;
}

/********************/
/*<< stay-updated >>*/
/********************/
.stay-updated {
    padding: 50px 0;
}

.stay-updated .wrapper {
    position:relative;
}

.stay-updated h2 {
    text-align: center;
    margin-bottom:20px;
    

}

.stay-updated nav {
    float:left;
    width:25%;
}    

.stay-updated nav a {
    display:inline-block;
}

.subscribe-form {
    text-align: center;
    width:50%;
    position:absolute;
    bottom:0;
    left:25%;
}

.subscribe-form > * {
    display:block;
}

.subscribe-form label {
    margin-bottom:20px;
}

.user-input input {
    
    height:39px;
    width:calc(100% - 145.767px);
    padding:10px 20px;
    float:left;
}

.user-input button {
    background:#0178A5;
    padding: 5px 10px;
    float:left;
}

button:hover {
    cursor:pointer;
}

.contact {
    width:25%;
    text-align: right;
    position:absolute;
    bottom:0;
    right:0;
}

.contact h3 {
    margin-bottom: 20px;
}




/**************/
/*<< footer >>*/
/**************/
footer {
    background-color: #201E21;
    color:#fff;
    text-align: center;
    clear:both;
}

/******************/
/*<< key frames >>*/
/******************/

/*********************/
/*<< media queries >>*/
/*********************/